<div class="card border-right-0 border-left-0" id="footer">
    <div class="card-header row" style="height: 100px; background-color: white; display: flex; width: 1127px; margin-left: 1px; align-items: center;">
      <div class="col-sm-5" style="display: flex;">
        <div class="icon_div"><a target="_blank" href="https://www.facebook.com/yelo.az"><i class="fab fa-facebook-f fa-1x" id="face"></i></a></div>
        <div class="icon_div"><a target="_blank" href="https://www.instagram.com/yelobank/"><i class="fab fa-instagram fa-1x" id="instagram"></i></a></div>
        <div class="icon_div"><a target="_blank"  href="https://www.linkedin.com/company/yelo-bank/"><i class="fab fa-linkedin-in fa-1x" id="in"></i></a></div>
        <div class="icon_div"><a target="_blank"  href="https://www.youtube.com/channel/UCz7siujqcwxQz3OcWqK5NLQ"><i class="fab fa-youtube fa-1x" id="ytb"></i></a></div>
        <div class="icon_div"><a target="_blank"  href="https://twitter.com/yelo_bank"><i class="fab fa-twitter fa-1x" id="twitter"></i></a></div>
        
        
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-7">
            <span style="color: gray; font-size: 14px;">Bizi tap</span>
            <br>
            <span style="font-size: 14px; font-weight:normal; color: black;">Həsən bəy Zərdabi 81K, Bakı AZ 1122, Azərbaycan</span>
          </div>
          <div class="col-sm-2point5" style="width: 17%;">
            <span style="font-size: 14px; color: gray;">Əlaqə nömrəsi</span>
            <br>
            <span tyle="font-size: 14px; font-weight:normal; color: black;">981</span>
          </div>
          <div class="col-sm-2point5">
            <span style="font-size: 14px; color: gray;">Bizə yazın</span>
            <br>
            <span tyle="font-size: 14px; font-weight:normal; color: black;">bank@yelo.az</span>
          </div>

        </div>

      </div>
      
    </div>
    <div class="card-body">
      <a href="" class="logo"></a>
      <ul class="ul_footer">
        <li>
          <p>© 2022 Yelo Bank</p>
        </li>
        <li>
          <p>E-portal</p>
        </li>
        <li>
          <p>ADİF</p>
        </li>
        <li>
          <p>infobank.az</p>
        </li>
        <li>
          <p>Qarabağ Dirçəliş Fondu</p>
        </li>
        <li>
          <p>YAŞAT Fondu</p>
        </li>

      </ul>
      <div>
        <p style="display: inline-block; vertical-align: middle; margin-left: 420px; margin-top: 11px; color: rgba(0,0,0,0.5);">Site by</p>
        <a href="https://www.jis.az/" class="author">Numan Rahimzade</a>
      </div>
    </div>
  </div>