.parent {
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;
    
}

.child {
    width: 50%;
}

.heading {
    height: 140px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    
}

.title {
    font-size: 54px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
}

.paragraph {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    font-family:Arial, Helvetica, sans-serif;
}

.para {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: grey;
}

#footer {
    margin-top: 20px;
    margin-left: 155px;
    margin-right: 155px;
    
  }
  
  

  .icon_div {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #F3F1F7;
}

  #face {
    
    color: gray;
    margin-top: 11px;
  }

  #twitter {
       color: gray;
       margin-top: 11px;
  }
  #instagram {
    color: gray;
    margin-top: 11px;
    background-color: lightgray;
  }
  #in {
       color:gray;
       margin-top: 11px;
  }
  #ytb {
       color: gray;
       margin-top: 11px;
  }

  .logo {
    width: 344px;
    height: 36px;
    display: inline-block;
    margin: 0 0 10px 370px;
    background: url(https://www.yelo.az/site/templates/style/img/logo.svg) no-repeat center;
  }


  .card-body {
       width: 100%;
  }

  .ul_footer {
       list-style: none;
       margin-left: 150px;
  }

  .card-body li {
    display: inline-block;
    margin: 0 10px;
  }

  .card-body li p {
    color: rgba(0,0,0,0.5);
    display: inline-block;
    vertical-align: middle;
  }

  .author {
    background: url(https://www.yelo.az/site/templates/style/img/jis.svg) no-repeat 0px 3px;
    background-size: 16px;
    padding: 0 0 0 22px;
    display: inline-block;
    margin: 0 0 0 9px;
    vertical-align: middle;
    color: rgba(0,0,0,0.5);
    text-decoration: underline;
  }