{% extends 'base.html' %}


{% block css %}

<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='news_full.css') }}">

{% endblock %}

{% block content %}
    
    <div class="parent">
        <div class="child">
            <i class="fas fa-long-arrow-left" style="color: blue;"></i>
            <a href="{{ url_for('news') }}" style="margin-left: 20px; color: blue; text-decoration: none;">Xəbərlərin siyahısı</a>
        </div>
        <div class="child">
            <span style="color: gray; font-size: 20px;">Xəbərlər</span> 
        </div>
    </div>
    
    <div class="heading">
        <h1 class="title">{{ user.title }}</h1>
    </div>
    <div>
        <h5 style="text-align: center; font-size: 17px; font-family: Arial, Helvetica, sans-serif; margin-top: 7px;">{{ user.created_at.strftime('%d %B %Y')  }}</h5>
    </div>
    <div class="paragraph">
        <p class="para">{{ user.message }}</p>
    </div>
    
    
{% endblock %}
